@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
	color: #eee;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	background-color: #222;
	background-attachment: fixed;
	background-image: url("bg.png");
}

header { text-align: center; }

div.clear { clear: both; display: block; overflow: hidden; visibility: hidden; }
div.contents { margin: 40px 4%; }
div.contents h1 { border-bottom: 1px solid #eee; }

b { font-weight: 700; }
a { color: #4FBCFF; text-decoration: none; }
a:hover { text-decoration: underline; }

ul li {
	margin-bottom: 2px;
	margin-top: 2px;
	text-indent: -6px;
}

table { border-collapse: collapse; }
table th { background-color: #100040; }
table td, table th { padding: 8px; }
table tr { background-color: rgba(17,0,34,0.5); }
table tr:hover { background-color: #103; }
table tr:first-child th:first-child, table tr:first-child td:first-child { border-top-left-radius: 15px; }
table tr:first-child th:last-child, table tr:first-child td:last-child { border-top-right-radius: 15px; }
table tr:last-child th:first-child, table tr:last-child td:first-child { border-bottom-left-radius: 15px; }
table tr:last-child th:last-child, table tr:last-child td:last-child { border-bottom-right-radius: 15px; }

table.data { text-align: center; }
td.punknown, td.pknown, td.pfinished, td.punused, td.pleftover { text-shadow: 1px 1px 2px black; }
td.punknown { background-color: red; }
td.pknown { background-color: orange; }
td.pfinished { background-color: green; }
td.punused { background-color: midnightblue; }
td.pleftover { background-color: indigo; }

div.tableofcontents {
	display: inline-block;
	float: left;
	margin-right: 24px;
	margin-bottom: 24px;
}
div.tableofcontents td, div.tableofcontents th { vertical-align: top; }
div.tableofcontents ul, div.tableofcontents ol { margin: 2px; padding-inline-start: 20px; }

div.box {
	clear: both;
	display: inline-block;
	margin: 16px;
	text-align: left;
	vertical-align: top;
}